/*CSS Variables*/
:root{
    --black: #6D9886;
    --white: #ffffff;
}


.search-button{
    width: 190px;
    background-color: var(--black);
    cursor: pointer;
}

.search-button:active{
    background-color: var(--white) ;
    cursor: pointer;
}